In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [37]:
df = pd.read_csv('bank-data.csv')

In [38]:
df.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [39]:
from sklearn import preprocessing

In [40]:
le = preprocessing.LabelEncoder()

In [51]:
df.drop('id', inplace = True, axis = 1)
df.income = le.fit_transform(df.income)
df.age = le.fit_transform(df.age)
df.sex = le.fit_transform(df.sex)
df.region = le.fit_transform(df.region)
df.married = le.fit_transform(df.married)
df.children = le.fit_transform(df.children)
df.car = le.fit_transform(df.car)
df.save_act = le.fit_transform(df.save_act)
df.current_act = le.fit_transform(df.current_act)
df.mortgage = le.fit_transform(df.mortgage)
df.pep = le.fit_transform(df.pep)

In [52]:
df.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,30,0,0,120,0,1,0,0,0,0,1
1,22,1,3,307,1,3,1,0,1,1,0
2,33,0,0,106,1,0,1,1,1,0,0
3,5,0,3,159,1,3,0,0,1,0,0
4,39,0,1,443,1,0,0,1,0,0,0

In [53]:
X = df[df.columns [: - 1]]

In [54]:
Y = df['pep']

In [55]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20, random_state = 30)

In [56]:
gnb = GaussianNB()

In [57]:
Y_pred = gnb.fit(X_train, Y_train).predict(X_test)

In [60]:
print("Number of mislabeled points out of a total %d points: %d" %(X_test.shape[0], (Y_test != Y_pred).sum()))
Y_pred = gnb.fit(X_train, Y_train).predict(X_test)

Number of mislabeled points out of a total 96 points: 40

In [63]:
print(confusion_matrix(Y_test, Y_pred))
print(accuracy_score(Y_test, Y_pred))

[[33 18]
 [22 23]]
0.5833333333333334